.bg_element{
    border-radius: 50%;
}

.bg_transition{
    background-color: rgb(64, 3, 3);
    margin-bottom: 10px;
    transition: 1s;
}

.white_center{
    background-color: white;
    width: 380px;
    height: 380px;
    border-radius: 50%;
}